### Models Building

Adapting attributes and label to prediction models and performing trainnings.

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [3]:
data = pd.read_csv('modified_hotelbookings.csv')
data.head(5)

,hotel,is_canceled,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,lead_time_log
0,Resort Hotel,0,2015,July,27,1,0,0,2,0.0,...,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,5.834811
1,Resort Hotel,0,2015,July,27,1,0,0,2,0.0,...,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,6.602588
2,Resort Hotel,0,2015,July,27,1,0,1,1,0.0,...,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out,1.945910
3,Resort Hotel,0,2015,July,27,1,0,1,1,0.0,...,A,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2.564949
4,Resort Hotel,0,2015,July,27,1,0,2,2,0.0,...,A,0,No Deposit,0,Transient,98.0,0,1,Check-Out,2.639057

In [6]:
#separating attributes and labels
label = data.iloc[:, 1].values
attributes_data = data.drop('is_canceled', axis=1)
attributes_data.head(5)

,hotel,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,lead_time_log
0,Resort Hotel,2015,July,27,1,0,0,2,0.0,0,...,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,5.834811
1,Resort Hotel,2015,July,27,1,0,0,2,0.0,0,...,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,6.602588
2,Resort Hotel,2015,July,27,1,0,1,1,0.0,0,...,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out,1.945910
3,Resort Hotel,2015,July,27,1,0,1,1,0.0,0,...,A,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2.564949
4,Resort Hotel,2015,July,27,1,0,2,2,0.0,0,...,A,0,No Deposit,0,Transient,98.0,0,1,Check-Out,2.639057

In [7]:
attributes_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 28 columns):
hotel                             119390 non-null object
arrival_date_year                 119390 non-null int64
arrival_date_month                119390 non-null object
arrival_date_week_number          119390 non-null int64
arrival_date_day_of_month         119390 non-null int64
stays_in_weekend_nights           119390 non-null int64
stays_in_week_nights              119390 non-null int64
adults                            119390 non-null int64
children                          119390 non-null float64
babies                            119390 non-null int64
meal                              119390 non-null object
country                           119390 non-null object
market_segment                    119390 non-null object
distribution_channel              119390 non-null object
is_repeated_guest                 119390 non-null int64
previous_cancellations            119390 non-null int64
previous_bookings_not_canceled    119390 non-null int64
reserved_room_type                119390 non-null object
assigned_room_type                119390 non-null object
booking_changes                   119390 non-null int64
deposit_type                      119390 non-null object
days_in_waiting_list              119390 non-null int64
customer_type                     119390 non-null object
adr                               119390 non-null float64
required_car_parking_spaces       119390 non-null int64
total_of_special_requests         119390 non-null int64
reservation_status                119390 non-null object
lead_time_log                     119390 non-null float64
dtypes: float64(3), int64(14), object(11)
memory usage: 25.5+ MB

In [8]:
#converting the collumns 0,2,10,11,12,13,17,18,20,22,26
attributes = attributes_data.values

label_encoder = LabelEncoder()
attributes[:, 0] = label_encoder.fit_transform(attributes[:, 0])
attributes[:, 2] = label_encoder.fit_transform(attributes[:, 2])
attributes[:, 10] = label_encoder.fit_transform(attributes[:, 10])
attributes[:, 11] = label_encoder.fit_transform(attributes[:, 11])
attributes[:, 12] = label_encoder.fit_transform(attributes[:, 12])
attributes[:, 13] = label_encoder.fit_transform(attributes[:, 13])
attributes[:, 17] = label_encoder.fit_transform(attributes[:, 17])
attributes[:, 18] = label_encoder.fit_transform(attributes[:, 18])
attributes[:, 20] = label_encoder.fit_transform(attributes[:, 20])
attributes[:, 22] = label_encoder.fit_transform(attributes[:, 22])
attributes[:, 26] = label_encoder.fit_transform(attributes[:, 26])

In [9]:
print('Verifying if there are only numbers in attributes:\n')
print(attributes[0:5])
print('\nAttributes lenght: ', + len(attributes))
print('Labels lenght: ', + len(label))

Verifying if there are only numbers in attributes:

[[1 2015 5 27 1 0 0 2 0.0 0 0 135 3 1 0 0 0 2 2 3 0 0 2 0.0 0 0 1
  5.834810737062606]
 [1 2015 5 27 1 0 0 2 0.0 0 0 135 3 1 0 0 0 2 2 4 0 0 2 0.0 0 0 1
  6.6025878921893355]
 [1 2015 5 27 1 0 1 1 0.0 0 0 59 3 1 0 0 0 0 2 0 0 0 2 75.0 0 0 1
  1.9459101490553128]
 [1 2015 5 27 1 0 1 1 0.0 0 0 59 2 0 0 0 0 0 0 0 0 0 2 75.0 0 0 1
  2.5649493574615367]
 [1 2015 5 27 1 0 2 2 0.0 0 0 59 6 3 0 0 0 0 0 0 0 0 2 98.0 0 1 1
  2.6390573296152584]]

Attributes lenght:  119390
Labels lenght:  119390

#### Decision Tree Classifier

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.tree import DecisionTreeClassifier

In [11]:
#split train x test
X_train, X_test, y_train, y_test = train_test_split(attributes, label, test_size=0.3, random_state=0)

#training decision tree classifier
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [12]:
#making predictions
predicts = model.predict(X_test)
cm = confusion_matrix(y_test, predicts)
acc = accuracy_score(y_test, predicts)

In [19]:
print('Confusion Matrix:\n')
print(cm)
print('\nAccuracy: ', + acc*100)

Confusion Matrix:

[[22371     0]
 [    0 13446]]

Accuracy:  100.0

#### Logistic Regression

In [20]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)

C:\Users\---EDUCASAT---\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [21]:
#making predictions
predicts = model.predict(X_test)
cm = confusion_matrix(y_test, predicts)
acc = accuracy_score(y_test, predicts)

print('Confusion Matrix:\n')
print(cm)
print('\nAccuracy: ', + acc*100)

Confusion Matrix:

[[22366     5]
 [  383 13063]]

Accuracy:  98.9167155261468

In [23]:
print(classification_report(y_test, predicts))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99     22371
           1       1.00      0.97      0.99     13446

    accuracy                           0.99     35817
   macro avg       0.99      0.99      0.99     35817
weighted avg       0.99      0.99      0.99     35817

#### Naive Bayes (GaussianNB)

In [24]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [25]:
#making predictions
predicts = model.predict(X_test)
cm = confusion_matrix(y_test, predicts)
acc = accuracy_score(y_test, predicts)

print('Confusion Matrix:\n')
print(cm)
print('\nAccuracy: ', + acc*100)

Confusion Matrix:

[[22097   274]
 [    0 13446]]

Accuracy:  99.23500013959851

In [26]:
print(classification_report(y_test, predicts))

              precision    recall  f1-score   support

           0       1.00      0.99      0.99     22371
           1       0.98      1.00      0.99     13446

    accuracy                           0.99     35817
   macro avg       0.99      0.99      0.99     35817
weighted avg       0.99      0.99      0.99     35817